body,
html {
  margin: 0px;
  min-height: 100%;
}



body {
  background-image: url(images/antique.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #4b4c4c;
}

.buttons {
  display: flex;
  justify-content: center;
}

#btn1,
#btn2 {
  margin: 5px 10px;
  display: inline-block;
  outline: none;
  width: 200px;
  height: 80px;
  background-color: #74b9ff;
  color: #353b48;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Carter One', cursive;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #654321;
}

#btn1:active,
#btn2:active {
  background-color: #0984e3;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.flex-container {
  display: flex;
  justify-content: center;
}

.btn-left {
  margin-right: 10px;
  margin-top: 20px;
}

.btn-right {
  margin-left: 10px;
  margin-top: 20px;
}

.btn-left button {
  display: block;
  width: 100px;
  height: 100px;
  outline: none;
  cursor: url(images/paintbrush.png), auto;
  background-position: center;
  transition: background 1s;
}

.btn-right button {
  display: block;
  width: 100px;
  height: 100px;
  outline: none;
  cursor: url(images/paintbrush.png), auto;
  background-position: center;
  transition: background 1s;
}

#btnBlack {
  border-radius: 50%;
  background-color: black;
  border: 4px solid #654321;
  margin-bottom: 20px;
}

#btnR {
  border-radius: 50%;
  background-color: red;
  border: 4px solid #654321;
}

#btnBlue {
  border-radius: 50%;
  background-color: blue;
  border: 4px solid #654321;
  margin-bottom: 20px;
}

#btnY {
  border-radius: 50%;
  background-color: yellow;
  border: 4px solid #654321;
}

#btnBlack:hover {
  background: black radial-gradient(circle, transparent 1%, black 1%) center/15000%;
}

#btnR:hover {
  background: red radial-gradient(circle, transparent 1%, red 1%) center/15000%;
}

#btnBlue:hover {
  background: blue radial-gradient(circle, transparent 1%, blue 1%) center/15000%;
}

#btnY:hover {
  background: yellow radial-gradient(circle, transparent 1%, yellow 1%) center/15000%;
}

#btnBlack:active {
  background-color: #353b48;
  background-size: 100%;
  transition: background 0s;
}

#btnR:active {
  background-color: #e84118;
  background-size: 100%;
  transition: background 0s;
}

#btnBlue:active {
  background-color: #00a8ff;
  background-size: 100%;
  transition: background 0s;
}

#btnY:active {
  background-color: #fbc531;
  background-size: 100%;
  transition: background 0s;
}

#container {
  border: 30px solid transparent;
  padding: 2px;
  border-image: url(images/frame.png) 30 stretch;
  list-style: none;
  width: 800px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  cursor: url(images/brush.png), auto;
  background: white;
}

.item {
  box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .flex-container {
    flex-flow: row wrap;
  }
  #container {
    order: 3
  }
}
